In [113]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("/Users/navkiratsingh/Documents/coding/carprices.csv")
df.rename(columns={"Car Model":"carmodel"} ,inplace=True)
df

                 carmodel  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [114]:
from pandas import get_dummies
dumm=pd.get_dummies(df.carmodel)
dumm
dumm.replace(False,0, inplace=True)
dumm.replace(True,1, inplace=True)
dumm

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [115]:
merged=pd.concat([df,dumm],axis='columns')
finaldf=merged.drop(['carmodel','Audi A5'],axis='columns')
finaldf

    Mileage  Sell Price($)  Age(yrs)  BMW X5  Mercedez Benz C class
0     69000          18000         6       1                      0
1     35000          34000         3       1                      0
2     57000          26100         5       1                      0
3     22500          40000         2       1                      0
4     46000          31500         4       1                      0
5     59000          29400         5       0                      0
6     52000          32000         5       0                      0
7     72000          19300         6       0                      0
8     91000          12000         8       0                      0
9     67000          22000         6       0                      1
10    83000          20000         7       0                      1
11    79000          21000         7       0                      1
12    59000          33000         5       0                      1

In [116]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()
x=finaldf[['Mileage','Age(yrs)','BMW X5','Mercedez Benz C class']]
x
y=finaldf['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [117]:
clf.fit(x,y)

LinearRegression()

In [118]:
clf.predict([[45000,4,0,1]])

/Users/navkiratsingh/Documents/coding/.venv/lib/python3.9/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36991.31721061])

In [119]:
clf.predict([[86000,7,1,0]])

/Users/navkiratsingh/Documents/coding/.venv/lib/python3.9/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11080.74313219])

In [120]:
clf.score(x,y)

0.9417050937281082

In [121]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dfle=df
dfle.carmodel=le.fit_transform(df.carmodel)
dfle

    carmodel  Mileage  Sell Price($)  Age(yrs)
0          1    69000          18000         6
1          1    35000          34000         3
2          1    57000          26100         5
3          1    22500          40000         2
4          1    46000          31500         4
5          0    59000          29400         5
6          0    52000          32000         5
7          0    72000          19300         6
8          0    91000          12000         8
9          2    67000          22000         6
10         2    83000          20000         7
11         2    79000          21000         7
12         2    59000          33000         5

In [122]:
x=dfle[['carmodel','Mileage','Age(yrs)']].values
x

array([[    1, 69000,     6],
       [    1, 35000,     3],
       [    1, 57000,     5],
       [    1, 22500,     2],
       [    1, 46000,     4],
       [    0, 59000,     5],
       [    0, 52000,     5],
       [    0, 72000,     6],
       [    0, 91000,     8],
       [    2, 67000,     6],
       [    2, 83000,     7],
       [    2, 79000,     7],
       [    2, 59000,     5]])

In [123]:
y=dfle['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [124]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('carmodel',OneHotEncoder(),[0])],remainder='passthrough')

In [130]:
X=ct.fit_transform(x)
X=X[:,1:]
X

array([[1.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [1.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [1.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [0.00e+00, 0.00e+00, 5.90e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 5.20e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 7.20e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 1.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00]])

In [131]:
clf.fit(X,y)

LinearRegression()

In [132]:
clf.predict([[0,1,45000,4]])

array([36991.31721062])